* {
  margin: 0;
  padding: 0;
}

.social-icon:hover {
  cursor: pointer;
}

.skills {
  width: 150px;
}

.card img {
  width: 300px;
  height: 200px;
  border-radius: 25px;
  box-shadow: 10px 10px 15px #7612A6;
}